- provide(:title, "Home")

h1
  =yield(:title)
h1 StaticPages#home
p Find me in app/views/static_pages/home.html.slim
h2 Welcome to Twitter for Cats! Log in here.
a> href='/tweets' Feed
a> href='/users' Users